.yearbox {
  border-radius: 25px;
  border: 3px solid black;
  width: 200px;
  height: 130px;
  background-color: antiquewhite;
  position: absolute;
}
.year {
  text-align: center;
}
button {
  border-radius: 25px;
  margin: 0px 60px;
  background-color: aquamarine;
}
#y2024 {
  position: relative;
  left: 250px;
}